global:
  smtp_smarthost: "{{ mail_smtp }}:{{ mail_port }}"
  smtp_from: "{{ mail_sender }}"
  smtp_auth_identity: "{{ mail_username }}"
  smtp_auth_username: "{{ mail_username }}"
  smtp_auth_password: "{{ mail_password }}"

route:
  group_by:
   - alertname
  receiver: email-notify

receivers:
- name: email-notify
  email_configs:
  {% for receiver in mail_receivers %}{{ '\n' }}
  - to: "{{ receiver }}"
  {% endfor %}