route:
  group_by:
   - alertname
  # Send all notifications to me.
  receiver: email-me

receivers:
- name: email-me
  email_configs:
  - to: "{{ mail_receiver }}"
    from: "{{ mail_sender }}"
    smarthost: "{{ mail_smtp }}"
    auth_username: "{{ mail_username }}"
    auth_identity: "{{ mail_username }}"
    auth_password: "{{ mail_password }}"